<table>
  <% @products.each do |product| %>
    <tr id=<%= dom_id(product) %> >
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= add_to_cart(product, 1, 'Add to order') %></td>
    </tr>
  <% end %>
</table>